* {
	border: none;
	border-radius: 10px;
	font-family: Roboto;
	font-weight: bold; 
	font-size: 12px;
	min-height: 10px;
}
window#waybar {
    background: rgba(55, 55, 200, .3);
}
window#waybar.hidden {
	opacity: 0.2;
}
#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}
#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bbbbbb;
}
#battery.charging, #battery.plugged {
	color: #ffffff;
	background: transparent;
}
#battery.critical:not(.charging) {
    background-color: #222222;
    color: #ffffff;
}
#clock.1 {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#clock.2 {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#clock.3 {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#workspaces{
    	margin-top: 5px;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
#workspaces button.active {
    background: #200303;
}
#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #000000;
	background: transparent;
}
#custom-notification {
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: transparent;
}
