* {
	font-size: 12px;
	font-family: monospace;
}

window#waybar {
	opacity: 1;
	background: rgba(34,34,34,.8);
	color: #000000;
}

window#waybar.hidded {
    opacity: 0.2;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#battery,
#pulseaudio {
	color: #00ffff;
}
#battery {
	color:#00ffff;
}
#clock,
#pulseaudio,
#battery{
	padding: 0 3px;
}
