* {
    font-weight: bold;
    font-size: 12px;
    font-family: monospace;
}

window#waybar {
    opacity: 1;
    background: rgba(00,00,00, 1);
    color: rgba(255,222,0, 0.4);
}

window#waybar.hidded {
    opacity: 0.2;
}
#custom-left-arrow-dark {
        color: transparent; /*rgba(255,222,0, 0.4);*/
	background: transparent; 
    	font-size: 11pt;
}
#custom-right-arrow-dark {
        color: transparent; /*rgba(255,222,0, 0.4);*/
	background: transparent;
    	font-size: 11pt;
}
#custom-left-arrow-light {
	color: transparent;
	background: transparent; /*rgba(255,222,0, 0.4);*/
    	font-size: 11pt;
}
#custom-right-arrow-light {
	color: transparent;
	background: transparent; /*rgba(255,222,0, 0.4);*/
    	font-size: 11pt;
}
#tray,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#battery,
#pulseaudio {
    font-weight: bold;
    background: rgba(0,0,0, 0.45);
    color: #ddd;
}
#battery {
    font-weight: bold;
    background: rgba(0,0,0, 0.45);
    color:#ddd;
}
#network {
    background-color: #000000;
    color:#ddd
}
#clock,
#pulseaudio,
#battery{
	padding: 0 3px;
}
